/* src/css/home.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DD2038;
    padding: 10px 20px;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar .logo {
    width: 100px; /* Größe des Logos anpassen */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.top-posts, .latest-posts {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.top-posts h2, .latest-posts h2 {
    margin-top: 0;
}

.search-add {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.search-add input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-add button {
    background-color: #DD2038;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

#posts p {
    text-align: center;
    color: #747979;
}
