main .left h2 {
    margin-bottom: 2.7rem;
    font-size: var(--fs24);
    color: var(--lightBlackColor);
}

main .left .inner-left .box {
    display: flex;
    align-items: center;
    background-color: var(--whiteColor);
    padding: 0.9rem 1.2rem;
    border-radius: 0.7rem;
    margin-bottom: 0.9rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.11),
    0 0.1rem 0.1rem rgba(0, 0, 0, 0.04);
}

main .left .inner-left .box .img {
    display: none;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

main .left .inner-left .box .details {
    padding-left: 1.2rem;
}

main .left .inner-left .box .details p {
    font-size: 1.3rem;
    text-transform: capitalize;
    color: var(--darkGrayColor);
}

main .left .inner-left .box .details h3 {
    font-weight: 700;
    color: var(--darkRedColor);
    font-size: var(--fs18);
    letter-spacing: -0.02em;
}

main .left .inner-left .box .details .sub-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

main .left .inner-left .box .details .sub-details span {
    color: var(--darkGrayColor);
}

main .left .inner-left .box .details .sub-details .comment {
    padding: 0.2rem 0.8rem 0;
    background-color: var(--lightWhiteColor);
    color: var(--darkGrayColor);
    font-size: 1.3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border-radius: 0.3rem;
}

