/* src/css/post-detail.css */
#post-editing-form,
#comment-content {
    margin-top: 20px;
}

#comment-content {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    margin-bottom: 10px;
    font-family: "Arial", sans-serif;
}

#submit-comment-btn {
    margin-top: 10px;
}

.comment {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.comment p {
    margin: 0;
}

.comment .comment-author,
.comment .comment-date {
    font-size: 12px;
    color: #777;
}

#like-button {
    color: #DD2038;
    font-size: 24px;
    cursor: pointer;
}

#like-count {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    color: #555;
}

.post-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    color: #DD2038;
}

.post-actions i {
    font-size: 24px;
    cursor: pointer;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    color: #DD2038;
    margin-top: 10px;
}

.comment-actions i {
    font-size: 24px;
    cursor: pointer;
}
